* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: green;
}

img {
  width: 15%;
  padding: 10px;
}

.north {
  transform: rotateZ(-90deg);
}

.south {
  transform: rotateZ(90deg);
}

.west {
  transform: rotateZ(180deg);
}

.east {
  transform: rotateZ(0deg);
}
